#sidebar-wrapper {
  /*//length as full as viewport*/
  min-height: 100vh; 
  text-align:center;
  width: 15rem;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

/*#page-content-wrapper {
  min-width: 100vw;
}
*/
@media (min-width: 768px) {

  #page-content-wrapper {
/*    min-width: 0;*/
    width: 100%;
  }

  /*#wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }*/
}
